.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    width: 350px;
    overflow: hidden;
    position: relative;
    background-color: #f7f7f7;
    padding: 40px;
    margin: 0 auto 25px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-image-container {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    margin-bottom: 15px;
}

.login-image-container img {
    width:100px;
    height: 100px;
    background: #ddd;
    -webkit-transition: background .25s ease-out;
       -moz-transition: background .25s ease-out;
         -o-transition: background .25s ease-out;
            transition: background .25s ease-out;
}

.login-image-container img.profile-found {
    background: #17da89;
}

.login-input-container {
    margin: 5px 0px;
}

.login-input {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 100%;
    height: 36px;
    padding: 0 8px;
    margin: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    font-size: 15px;
    color: #404040;
}

.login-input:focus {
    outline: none;
    border: 1px solid #17da89;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.login-input.error {
    border: 1px solid #d80c0c;
}

.login-button {
    width: 100%;
    height: 36px;
    background-color: #17da89;
    border: 1px solid #18b071;
    font-weight: bold;
    color: #444;
    font-size: 12px;
}

.login-error {
    text-align: right;
    color: #d80c0c;
    overflow: hidden;
    transition: height .25s ease-out;
    height: 0px;
}

.login-error.show {
    height: 20px;
}

.login-name {
    text-align: center;
    height: 20px;
}

.login-back {
    position: absolute;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}

.login-stages-clip {
    position: relative;
    overflow: hidden;
    font-size: 0px;
    white-space: nowrap;
}

.login-stage {
    position: relative;
    display: inline-block;
    width: 270px;
    font-size: 14px;
    margin-right: 100%;
    left: 0px;
    transition: left .25s ease;
}

.login-stage.shift {
    left: -200%;
}
