.register-container {
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-loading-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(255,255,255,.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-box {
    width: 350px;
    overflow: hidden;
    position: relative;
    background-color: #f7f7f7;
    padding: 40px;
    margin: 0px auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.register-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.register-error {
    text-align: right;
    color: #d80c0c;
    overflow: hidden;
    transition: height .25s ease-out;
    height: 0px;
}

.register-error.show {
    height: 20px;
}

.register-form input {
    margin: 5px 0px;
}

.register-spacer {
    height: 20px;
}

.register-message {
    color:#5495d0;
    font-size:16px;
}

.register-message.error {
    color:#a91d1d;
    font-size:16px;
}
