.search-results {
    margin-bottom: 100px;
}

.search-result {
    display: flex;
    padding: 15px 15px;
}

.search-result:nth-child(even) {
    background: #f9f9f9;
}

.search-result-image {
    min-width: 64px;
    height: 64px;
}

.search-result-content {
    margin-left: 15px;
    flex-grow: 1;
}

.search-result-topline {
    font-size: 18px;
}

.search-result-city {
    font-size: 16px;
    float: right;
    color: #666;
}

.search-topbar {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0px 15px;
}

.search-preferences {
    font-size: 16px;
}

.search-incomplete {
    width: 100%;
    margin: 150px 0px;
    text-align: center;
    font-size: 18px;
    color: #666;
}

.search-jumbotron {
    padding-bottom: 100px;
    margin-top: -20px;
    color: white;

    background-color: #0a89c5;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#0095dd),to(#0a89c5));
    background-image: -webkit-linear-gradient(top,#0095dd 0,#0a89c5 100%);
    background-image: -o-linear-gradient(top,#0095dd 0,#0a89c5 100%);
    background-image: linear-gradient(to bottom,#0095dd 0,#0a89c5 100%);
    background-repeat: repeat-x;
    text-shadow: 1px 1px 6px rgba(0,0,0,.5);
}

.search-result-schedule {
    margin-top: 5px;
}

.schedule-row {

}

.schedule-row > .schedule-row-container {
    display: inline-block;
    padding: 2px 5px;
}

.schedule-row > .schedule-row-container.full {
    display: block;
}

.schedule-row:nth-child(even) > .schedule-row-container {
    background: #eee;
}

.schedule-row-day {
    display: inline-block;
    width: 40px;
    text-align: right;
}
