<div class="banner">
    <div class="banner-overlay">
        <div class="banner-overlay-content">
            <div class="banner-overlay-title">CPP Carpool</div>
            <div class="banner-overlay-text">
                Carpool with your fellow Broncos
            </div>
        </div>
    </div>
</div>
<div class="home-section">
    <div class="home-section-title">
        How It Works
    </div>
    <div class="home-section-desc-container">
        <div class="home-section-desc">
            <p>CPP Carpool matches you with other Broncos to make commuting a cinch.</p>
            <p>Input your schedule, location, and driving preferences, and CPP Carpool will automatically match you with other Broncos looking to carpool.</p>
            <p>Once paired, you and your match can facilitate carpooling through CPP Carpool's messaging interface.</p>
        </div>
    </div>
</div>
