<div class="login-container">
    <div class="login-top-text">
        Sign in with your CPP email
    </div>
    <div class="login-box">
        <div class="login-back" data-ng-show="loginVm.state === 1" data-ng-click="loginVm.back()">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </div>
        <div class="login-image-container">
            <img data-ng-class="{'profile-found': loginVm.state === 1}" data-ng-src="{{ loginVm.loginData.picture || 'images/profile-default.png'}}">
        </div>
        <div class="login-name">
            <span data-ng-bind="loginVm.loginData.fullname"></span>
        </div>
        <div class="login-stages-clip">
            <div class="login-stage" data-ng-class="{'shift': loginVm.state === 1}">
                <div class="login-input-container">
                    <input class="input" type="text" placeholder="Enter your email" autofocus data-ng-disabled="loginVm.state !== 0 || loginVm.working" data-ng-class="{'error': loginVm.error}" data-ng-model="loginVm.loginEmail" data-ng-keypress="loginVm.inputKeypress($event)" data-focus-on="loginVm.state === 0" data-focus-delay="260">
                </div>

                <div class="login-error" data-ng-class="{'show': loginVm.error}" data-ng-bind="loginVm.errorText"></div>
                <div class="login-input-container">
                    <input class="button full" type="submit" data-ng-disabled="loginVm.state !== 0 || loginVm.working" data-ng-click="loginVm.next()" value="Next">
                </div>
            </div>
            <div class="login-stage" data-ng-class="{'shift': loginVm.state === 1}">
                <div class="login-input-container">
                    <input class="input" type="password" placeholder="Enter your password" data-ng-disabled="loginVm.state !== 1 || loginVm.working" data-ng-class="{'error': loginVm.error}"  data-ng-model="loginVm.loginPassword" data-ng-keypress="loginVm.inputKeypress($event)" data-focus-on="loginVm.state === 1" data-focus-delay="260">
                </div>

                <div class="login-error" data-ng-class="{'show': loginVm.error}" data-ng-bind="loginVm.errorText"></div>
                <div class="login-input-container">
                    <input class="button full" type="submit" data-ng-disabled="loginVm.state !== 1 || loginVm.working" data-ng-click="loginVm.next()" value="Login">
                </div>
            </div>
        </div>
    </div>
    <div class="create-account">
        <a href="#/register" data-ng-click="register()">Create Account</a>
    </div>
</div>
