<div class="login-container">
    <div class="login-box">
        <div class="login-image-container">
            <img />
        </div>
        <div class="login-input-container">
            <input class="login-input" type="text" placeholder="Enter your email" autofocus>
        </div>
        <div class="login-input-container">
            <input class="login-button" type="submit" value="Next">
        </div>
    </div>
    <div class="create-account">
        <a href="">Create Account</a>
    </div>
</div>
