<div class="container">
    <h2>Obtaining a Carpool Parking Permit</h2>
    <hr>
    <p>
        <i>From: <a href="https://www.cpp.edu/~parking/rideshare/rideshare-how-to/rideshare-permit.shtml">CPP Parking Transportation</a></i>
    </p>
<p><strong>Student Carpool Permit Procedures<br></strong>All student carpools must have a parking permit from the current quarter to obtain a daily rideshare parking permit.&nbsp; Student carpool parking will be enforced at the beginning of each quarter.</p>
    <p><strong>PLEASE NOTE: No daily rideshare permits will be issued to carpool teams with an expired parking hangtag, a temporary permit when a permit has been purchased online, or from a permit purchased from a yellow Daily Parking Permit Dispenser.</strong></p>
    <p>Students must drive up to the Student Rideshare Booth each day with one or more passengers in their car and show their parking permit to the booth attendant to obtain a daily rideshare parking permit.&nbsp; Students with valid rideshare parking permits&nbsp;may park in student rideshare spaces located in Lot F9 and Lot J.&nbsp; Student rideshare spaces are enforced Monday through Thursday from 7 a.m. to Noon.&nbsp; <em>The Student Rideshare Booth is closed on Fridays.&nbsp; Students who have a parking hangtag displayed on their vehicle for the current quarter may park in those spaces (ON FRIDAYS) without having to display a daily rideshare parking permit.</em></p>
    <p>Daily Rideshare parking permits must be displayed properly on the dashboard of the vehicle along with the current&nbsp;quarterly parking permit.&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p><strong><br>Rules for Student Carpools<br></strong>Rules are strictly enforced by Parking and Transportation Services.</p>
    <ul>
    <li>Students who live in the Village or Residence Halls DO NOT qualify for the student rideshare permit.</li>
    <li>Students who live within a one mile radius of the campus are not eligible.</li>
    <li>Students cannot pick up other students from surface lots on campus to obtain a rideshare permit&nbsp;</li>
    </ul>
    <p>If you disregard the rules you will be subject to a citation, student discipline from Judicial Affairs, and permanent dismissal from the Rideshare program.&nbsp; Misuse of rideshare parking is subject to a $230 fine.</p>
    <hr>
    <p><strong>Employee Carpool Permit Procedures<br></strong>Employees who carpool to the campus and are&nbsp;enrolled in the rideshare program are eligible for a rideshare sticker.&nbsp; Employees can obtain a rideshare sticker from the Rideshare office located in the Police and Parking Services Building 109.&nbsp; Members must also be active in the program by turning in daily records of their rideshare activity.<br><br>Members may only park in the reserved Rideshare spaces on the days they carpool to campus.&nbsp; Rideshare spaces are enforced&nbsp;from 7 a.m. through 1 p.m. Monday through Friday.<br><br>Employees who have been issued a valid rideshare sticker can park in Faculty/Staff Rideshare parking located in Lot A, Lot F8, Lot J, Lot G, and Lot S on a first-come, first-serve basis.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br><br>Train or bus riders are not eligible for a rideshare&nbsp;sticker.</p>

</div>
