<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Find a Ride</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div class="search-topbar">
                <span data-ng-show="searchVm.loading && !searchVm.error"><span class="spinner-icon nomargin"></span>&nbsp;Searching...</span>
                <span data-ng-show="!searchVm.loading && !searchVm.error">Found {{searchVm.results.length}} user{{searchVm.results.length === 1 ? '':'s'}} near you.</span>
                <span style="color:red;" data-ng-show="!searchVm.loading && searchVm.error">Error loading search results</span>
            </div>
            <div class="search-results">
                <div class="search-result" data-ng-repeat="r in searchVm.results">
                    <a data-ng-href="#/profile/{{r.cppusername}}" class="search-result-image">

                    </a>
                    <div class="search-result-content">
                        <div class="search-result-topline">
                            <a data-ng-href="#/profile/{{r.cppusername}}" data-ng-bind="r.fullname"></a>
                            &nbsp;
                            <span data-stars="r.stars"></span>
                            <span class="search-result-city">
                                <span class="glyphicon glyphicon-home"></span>&nbsp;{{r.city}}
                            </span>
                        </div>
                        <div>
                            {{r.reviewCount}} review{{r.reviewCount === 1 ? '' : 's' }} - {{r.dist}} miles
                        </div>
                        <div>
                            schedule goes here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
