<div class="profile-container container">
    <div class="profile-loading-overlay" data-ng-show="settingsVm.loading">
        <span class="spinner-icon large"></span>&nbsp;&nbsp;Loading...
    </div>
    <div class="profile-loading-overlay" data-ng-show="!settingsVm.loading && settingsVm.error">
        <span class="glyphicon glyphicon-warning-sign" style="color:red;"></span>&nbsp;&nbsp;error loading data
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-xs-6 col-sm-12">
                    <div class="profile-image-container">
                        <div class="profile-image-wrapper" data-ng-click="settingsVm.uploadPicture()">
                            <img data-ng-if="settingsVm.data.picture.length" data-ng-src="data:image/jpeg;base64,{{settingsVm.data.picture}}">
                            <div class="settings-image-overlay" data-ng-show="!settingsVm.uploading">
                                <span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;upload new picture
                            </div>
                            <div class="settings-image-loading-overlay" data-ng-show="settingsVm.uploading">
                                <span class="spinner-icon"></span>&nbsp;&nbsp;Uploading...
                            </div>
                            <div class="settings-image-loading-overlay" data-ng-show="!settingsVm.uploading && settingsVm.uploadError">
                                <span class="glyphicon glyphicon-warning-sign" style="color:red;"></span>&nbsp;&nbsp;error uploading
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-12">
                    <div class="profile-name" data-ng-bind="settingsVm.data.fullname"></div>
                    <div class="profile-email" data-ng-bind="settingsVm.data.cppemail"></div>
                    <div data-ng-show="settingsVm.data.timestamp">
                        <hr>
                        Joined {{settingsVm.data.timestamp | date : 'longDate'}}
                    </div>
                    <div data-ng-show="!settingsVm.data.profilecomplete">
                        <hr>
                        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Profile incomplete
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li role="presentation" data-ng-class="{'active': settingsVm.tab === 0}" data-ng-click="settingsVm.setTab(0)">
                    <a href="">Overview</a>
                </li>
                <li role="presentation" data-ng-class="{'active': settingsVm.tab === 1}" data-ng-click="settingsVm.setTab(1)">
                    <a href="">Messages</a>
                </li>
            </ul>
            <div data-ng-show="settingsVm.tab === 0">
                <div class="settings-message" data-ng-show="settingsVm.formMessageText.length" data-ng-bind="settingsVm.formMessageText"></div>
                <div class="settings-error" data-ng-show="settingsVm.formErrorText.length" data-ng-bind="settingsVm.formErrorText"></div>
                <div class="settings-group-title">Location</div>
                <div class="settings-group-subtext">
                    <span class="glyphicon glyphicon-eye-close"></span>&nbsp;&nbsp;Your exact location is not visible to others.
                </div>
                <form name="locationForm" novalidate>
                    <div class="settings-input-name">Address Line 1</div>
                    <input
                        class="input"
                        type="text"
                        placeholder="Enter address line 1"
                        required
                        data-ng-trim="true"
                        data-ng-minlength="1"
                        data-ng-model="settingsVm.editData.addressline1"
                        data-ng-model-options="{updateOn: 'blur'}">

                    <div class="settings-input-name">Address Line 2</div>
                    <input
                        class="input"
                        type="text"
                        placeholder="Enter address line 2"
                        data-ng-trim="true"
                        data-ng-minlength="1"
                        data-ng-model="settingsVm.editData.addressline2"
                        data-ng-model-options="{updateOn: 'blur'}">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="settings-input-name">City</div>
                            <input
                                class="input"
                                type="text"
                                placeholder="Enter city"
                                required
                                data-ng-trim="true"
                                data-ng-minlength="1"
                                data-ng-model="settingsVm.editData.city"
                                data-ng-model-options="{updateOn: 'blur'}">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="settings-input-name">Zip</div>
                            <input
                                class="input"
                                type="text"
                                placeholder="Enter zip code"
                                required
                                data-ng-trim="true"
                                data-ng-minlength="1"
                                data-ng-model="settingsVm.editData.zip"
                                data-ng-model-options="{updateOn: 'blur'}">
                        </div>
                    </div>
                </form>
                <br>
                <div class="settings-group-title">Schedule</div>
                <form name="scheduleForm" novalidate>
                    <div
                        class="settings-sched-day"
                        data-ng-class="{'active': settingsVm.editData.schedule[$index].checked}"
                        data-ng-repeat="day in settingsVm.days">
                        <label class="settings-sched-label">
                            {{ day }}&nbsp;&nbsp;<input type="checkbox" data-ng-model="settingsVm.editData.schedule[$index].checked">
                        </label>
                        <div class="settings-sched-time-container" data-ng-click="settingsVm.trySelectDay(settingsVm.editData.schedule[$index])">
                            <div data-ng-if="settingsVm.editData.schedule[$index].checked">
                                <input
                                    class="settings-time-input"
                                    type="text"
                                    required
                                    data-ng-trim="true"
                                    data-ng-pattern="/^\d{1,2}$/"
                                    data-ng-model="settingsVm.editData.schedule[$index].arriveHour"
                                    data-ng-model-options="{updateOn: 'blur'}">
                                :
                                <input
                                    class="settings-time-input"
                                    type="text"
                                    required
                                    data-ng-trim="true"
                                    data-ng-pattern="/^\d{1,2}$/"
                                    data-ng-model="settingsVm.editData.schedule[$index].arriveMinute"
                                    data-ng-model-options="{updateOn: 'blur'}">
                                <select
                                    class="settings-select"
                                    required
                                    data-ng-patter="/^[a|p]m$/"
                                    data-ng-model="settingsVm.editData.schedule[$index].arrivePeriod">
                                    <option value="am">am</option>
                                    <option value="pm">pm</option>
                                </select>
                                &nbsp;to&nbsp;
                                <input
                                    class="settings-time-input"
                                    type="text"
                                    required
                                    data-ng-trim="true"
                                    data-ng-pattern="/^\d{1,2}$/"
                                    data-ng-model="settingsVm.editData.schedule[$index].departHour"
                                    data-ng-model-options="{updateOn: 'blur'}">
                                :
                                <input
                                    class="settings-time-input"
                                    type="text"
                                    required
                                    data-ng-trim="true"
                                    data-ng-pattern="/^\d{1,2}$/"
                                    data-ng-model="settingsVm.editData.schedule[$index].departMinute"
                                    data-ng-model-options="{updateOn: 'blur'}">
                                <select
                                    class="settings-select"
                                    required
                                    data-ng-patter="/^[a|p]m$/"
                                    data-ng-model="settingsVm.editData.schedule[$index].departPeriod">
                                    <option value="am">am</option>
                                    <option value="pm">pm</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <div class="settings-group-title">Preferences</div>
                <form name="prefForm" novalidate>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="settings-input-name">Driving Preference</div>
                            <label class="setting-radio">
                                <input type="radio" ng-model="settingsVm.editData.drivingpref" value="0">&nbsp;&nbsp;I prefer to drive.
                            </label>
                            <label class="setting-radio">
                                <input type="radio" ng-model="settingsVm.editData.drivingpref" value="1">&nbsp;&nbsp;I prefer to ride.
                            </label>
                            <label class="setting-radio">
                                <input type="radio" ng-model="settingsVm.editData.drivingpref" value="2">&nbsp;&nbsp;I prefer to switch off.
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="settings-input-name">Max Distance</div>
                            <input
                                class="input"
                                type="text"
                                placeholder="How far are you willing to drive?"
                                required
                                data-ng-trim="true"
                                data-ng-minlength="1"
                                data-ng-patter="/^\d+$/"
                                data-ng-model="settingsVm.editData.maxdist"
                                data-ng-model-options="{updateOn: 'blur'}">
                        </div>
                    </div>
                </form>

                <div class="settings-buttons">
                    <div class="pull-right button" data-ng-click="settingsVm.save()">
                        Save Changes
                    </div>
                </div>
            </div>
            <div data-ng-show="settingsVm.tab === 1">
                Messages
            </div>
        </div>
    </div>
</div>

<input id="hidden-file-upload" type="file" name="picture" accept="image/*">
