<!DOCTYPE html>
<html data-ng-app="cppcarpool">
<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="css/build/app.build.css"></link>
    <script type="text/javascript" src="js/build/app.vendor.build.js"></script>
    <script type="text/javascript" src="js/build/app.build.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body data-ng-controller="mainCtrl as mainVm">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">CPP Carpool</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-repeat="link in mainVm.navlinks">
                        <a data-ng-href="#{{link.path}}" data-ng-bind="link.name" data-ng-class="{'active': link.active}"></a>
                    </li>
                    <li data-ng-hide="mainVm.loggedIn()">
                        <a data-ng-href="#/login">Login</a>
                    </li>
                    <li class="dropdown" data-ng-show="mainVm.loggedIn()">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="nav-picture-container">
                                <div class="nav-picture-align">
                                    <div class="profile-image-container">
                                        <div class="profile-image-wrapper">
                                            <img data-ng-if="mainVm.user.picture.length" data-ng-src="data:image/jpeg;base64,{{mainVm.user.picture}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#/profile/">My Profile</a></li>
                            <li><a href="" data-ng-click="mainVm.logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <ng-view></ng-view>

    <div class="footer">
        Copyright 2016 CPP Carpool
    </div>
</body>
</html>
